<!DOCTYPE html>
<html>
<head>
  <title>QueuedMail</title>
  <%= stylesheet_link_tag    "queued_mail/application", :media => "all" %>
  <%= javascript_include_tag "queued_mail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
