<p>こんにちは！<br />
  日本語メールのテストです。
</p>
<p>Multipart messages can also be used implicitly because Action Mailer will automatically detect and use multipart templates, where each template is named after the name of the action, followed by the content type. Each such detected template will be added as a separate part to the message.</p>
